<div class="footer-wrapper tc" style="background-color: #951d1d;">
  <footer class="tl raleway cf near-white center" style="background-color: #951d1d;">
    <div class="pb5 pt5 ph6 fl w-100 cf">
      <div class="fl w-40">
        <h2 class="f3 mb4">Contact</h2>
        <p class="mv2">EventNetUSA</p>
        <p class="mv2">1129 Southeast 4th Avenue</p>
        <p class="mv2">Fort Lauderdale, Florida 33316</p>
        <p class="mv2">(954) 467 - 9898</p>
        <p class="mv2"><a class="white link dim" href="mailto:info@eventnetusa.com">info@eventnetusa.com</a></p>
        <p class="f2">
          <a target="_blank" href="https://www.linkedin.com/company/eventnetusa"><i class="dim fa white fa-linkedin-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.facebook.com/EventNetUSA/"><i class="dim fa white fa-facebook-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.instagram.com/eventnetusa/"><i class="dim fa white fa-instagram" aria-hidden="true"></i></a>
          <a target="_blank" href="https://twitter.com/eventnetusa/"><i class="dim fa white fa-twitter-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.youtube.com/user/EventNetUSA"><i class="dim fa white fa-youtube-square" aria-hidden="true"></i></a>
        </p>
      </div>

      <div class="fl w-40">
        <h2 class="f3 mb4">Join our mailing list</h2>
        <form>
          <input id="inputReset" type="text" class="input-reset bn pv3 ph3 w5" placeholder="email address">
        </form>
        <a class="center f6 fw4 grow no-underline ph4 pv3 mt3 dib white ttu tracked" href="#0" style="background-color: #ba3838;">Subscribe</a>
      </div>


      <div class="fl w-20">
        <h2 class="f3 mb4">Browse</h2>
        <ul class="pl0">
          <li class="list mb3"><a class="link near-white hover-white" href="/">Home</a></li>
          <li class="list mb3"><a class="link near-white hover-white" href="/about">About</a></li>
          <li class="list mb3"><a class="link near-white hover-white" href="/work">Work</a></li>
          <li class="list mb3"><a class="link near-white hover-white" target="_blank" href="/careers">Careers</a></li>
          <li class="list mb3"><a class="link near-white hover-white" href="/blog">Blog</a></li>
          <li class="list mb3"><a class="link near-white hover-white" href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>

