<div class="footer-wrapper tc" style="background-color: #951d1d;">
  <footer class="tl raleway cf near-white center" style="background-color: #951d1d;">
    <div class="inner pb5 pt5 ph6 fl w-100 cf">
      <div class="contact fl w-40">
        <h2 class="f3 mb4">Contact</h2>
        <p class="mv2">EventNetUSA</p>
        <p class="mv2">100 Southeast 3rd Ave., Ste. 1000</p>
        <p class="mv2">Fort Lauderdale, FL 33394</p>
        <p class="mv2">(954) 467 - 9898</p>
        <p class="mv2"><a class="white link dim" href="mailto:info@eventnetusa.com">info@eventnetusa.com</a></p>
        <p class="mv2"><a class="white link dim" href="mailto:sales@eventnetusa.com">sales@eventnetusa.com</a></p>
        <p class="f2">
          <a target="_blank" href="https://www.linkedin.com/company/eventnetusa"><i class="dim fa white fa-linkedin-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.facebook.com/EventNetUSA/"><i class="dim fa white fa-facebook-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.instagram.com/eventnetusa/"><i class="dim fa white fa-instagram" aria-hidden="true"></i></a>
          <a target="_blank" href="https://twitter.com/eventnetusa/"><i class="dim fa white fa-twitter-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.youtube.com/user/EventNetUSA"><i class="dim fa white fa-youtube-square" aria-hidden="true"></i></a>
        </p>
      </div>

      <div class="subscribe fl w-40">
        <h2 class="f3 mb4">Join our mailing list</h2>
        <!-- <form>
          <input id="inputReset" type="text" class="input-reset bn pv3 ph3 w5" placeholder="email address">
        </form>
        <a class="center f6 fw4 grow no-underline ph4 pv3 mt3 dib white ttu tracked" href="#0" style="background-color: #ba3838;">Subscribe</a> -->
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//eventnetusa.us2.list-manage.com/subscribe/post?u=6614d85c6dbff31f0fcd103f3&amp;id=9c82f7a77c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="input-reset bn pv3 ph3 w5 required email" id="mce-EMAIL" placeholder="email address">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response pv4 pr4" id="mce-error-response" style="display:none"></div>
            <div class="response pv4 pr4" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6614d85c6dbff31f0fcd103f3_9c82f7a77c" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="bn center f6 fw4 grow no-underline ph4 pv3 mt3 dib white ttu tracked" style="background-color: #ba3838;"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>


      <div class="browse fl w-20 pl4-m pl0-l">
        <h2 class="f3 mb4">Browse</h2>
        <ul class="pl0">
          <li class="list mb3"><a class="link near-white hover-white" href="/">Home</a></li>
          <li class="list mb3"><a class="link near-white hover-white" href="/about">About</a></li>
          <li class="list mb3"><a class="link near-white hover-white" href="/work">Work</a></li>
          <li class="list mb3"><a class="link near-white hover-white" target="_blank" href="/careers">Careers</a></li>
          <li class="list mb3"><a class="link near-white hover-white" href="/blog">Blog</a></li>
          <li class="list mb3"><a class="link near-white hover-white" href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>

