<div class="cf near-white" style="background-color: #951d1d;">
  <div class="pb5 pt5 ph6 fl w-100 cf">
    <div class="fl w-40">
      <h2 class="avenir f3 mb4">Contact</h2>
      <p class="avenir mv2">EventNetUSA</p>
      <p class="avenir mv2">1129 Southeast 4th Avenue</p>
      <p class="avenir mv2">Fort Lauderdale, Florida 33316</p>
      <p class="avenir mv2">(954) 467 - 9898</p>
      <p class="avenir f2">
      <i class="fa brand fa-linkedin-square" aria-hidden="true"></i>
      <i class="fa brand fa-facebook-square" aria-hidden="true"></i>
      <i class="fa brand fa-instagram" aria-hidden="true"></i>
      <i class="fa brand fa-twitter-square" aria-hidden="true"></i>
      <i class="fa brand fa-youtube-square" aria-hidden="true"></i></p>
    </div>

    <div class="fl w-40">
      <h2 class="avenir f3 mb4">Stay in Touch</h2>
      <form>
        <input id="inputReset" type="text" class="input-reset bn pv3 ph3 w5" placeholder="email address">
      </form>
      <a class="center f6 fw4 grow no-underline ph4 pv3 mt3 dib white ttu tracked" href="#0" style="background-color: #ba3838;">Subscribe</a>
    </div>


    <div class="fl w-20">
      <h2 class="avenir f3 mb4">Browse</h2>
      <ul class="pl0">
        <li class="list mb3"><a class="link near-white hover-white" href="/">Home</a></li>
        <li class="list mb3"><a class="link near-white hover-white" href="about.html">About</a></li>
        <li class="list mb3"><a class="link near-white hover-white" href="work.html">Work</a></li>
        <li class="list mb3"><a class="link near-white hover-white" target="_blank" href="/careers.html">Careers</a></li>
        <li class="list mb3"><a class="link near-white hover-white" href="">Blog</a></li>
        <li class="list mb3"><a class="link near-white hover-white" href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>