<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  {% seo %}

  <!-- CSS -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/stylesheets/style.min.css">
  <!-- endinject -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
  {% if page.class == 'contact' %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBneDEmVxTOynU_pTBnXtocMu3TDzxkp4"></script>
  {% endif %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <meta property="ix:host" content="eventnet.imgix.net">

</head>
