<header class="cf w-100 ph3 pv3 pv4-ns ph4-m ph5-l bg-brand">
  <a href="/"><img src="/uploads/eventnet.svg" class="tl dib v-mid" style="width: 200px; margin-top: 10px;" alt=""></a>
  <nav class="f6 fw3 tracked tr fr">
    <a class="link near-white dib" href="/about" title="About">About</a>
    <a class="link near-white dib ml4" href="/work" title="Work">Work</a>
    <a class="link near-white dib ml4" href="/careers" title="Careers">Careers</a>
    <a class="link near-white dib ml4" href="/case-study" title="Blog">Blog</a>
    <a class="grow no-underline near-white dib ml4 pv2 ph3 ba" href="/contact" title="Contact">Contact</a>
  </nav>
</header>
