<script>
  (function() {

    var elem = document.querySelector('.carousel')
    var flkty = new Flickity( elem, {
      // options
      cellSelector: '.carousel-cell',
      imagesLoaded: true,
      percentPosition: false,
      pageDots: true,
      prevNextButtons: true,
      wrapAround: true
    })

    $('.capability').click(function() {
      $(this).toggleClass('active')
      $(this).find('i').toggleClass('active')
      $(this).find('.copy').slideToggle(300, 'swing')
    })

  })();
</script>
