<script>
  (function() {

    var elem = document.querySelector('.carousel')
    var flkty = new Flickity( elem, {
      // options
      cellSelector: '.carousel-cell',
      imagesLoaded: true,
      percentPosition: false,
      pageDots: true,
      prevNextButtons: true,
      wrapAround: true
    })

    $('.capability').click(function() {
      $(this).toggleClass('active')
      $(this).find('i').toggleClass('active')
      $(this).find('.copy').slideToggle(300, 'swing')
    })

    SaladSpinner({
      userId: '7cde6ba33fde6d437946c651005a4ba7369ca6a1',
      users: [353224793],
      sortBy: 'created_time',
      links: false,
      resolution: 'low_resolution',
      id: 'instafeed',
      limit: 10,
    }).show();

  })();
</script>
