<div class="remodal tl raleway" data-remodal-id="modal">
      <button data-remodal-action="close" class="remodal-close"></button>
      <main class="pa4-ns black-60">
        <form id="quote" class="measure center" role="form" method="post" action="http://formspree.io/sales@eventnetusa.com">
          <fieldset id="contact" class="cf bn ma0 pa0">
            <legend class="f3 tc fw6 ph0 mb2 navy">Request a Quote</legend>
            <div class="mt3">
              <input required class="raleway mb3 f6 f5-l input-reset ba bw1 b--black-60 fl black-80 bg-white pa3 lh-solid w-100" type="text" name="name" id="name" placeholder="YOUR NAME">
            </div>
            <div class="mt3">
              <input required class="raleway mb3 f6 f5-l input-reset ba bw1 b--black-60 fl black-80 bg-white pa3 lh-solid w-100" type="email" name="email" id="email-address" placeholder="YOUR EMAIL ADDRESS">
            </div>
            <div class="mt3">
              <input class="mb3 f6 f5-l input-reset ba bw1 b--black-60 fl black-80 bg-white pa3 lh-solid w-100" type="text" name="phone" id="phone" placeholder="YOUR PHONE NUMBER">
            </div>
            <div class="mv3">
              <textarea required class="raleway mb3 f6 f5-l input-reset ba bw1 b--black-60 fl black-80 bg-white pa3 lh-solid w-100" type="info" name="project-
              info" id="info" placeholder="PLEASE TELL US ABOUT YOUR PROJECT"></textarea>
            </div>
            <input class="is-hidden" name="_gotcha">
            <input id="_subject" type="hidden" name="_subject" value="Website Quote Request">
          </fieldset>
          <div class="button">
            <input class="raleway ttu mb3 f6 f5-l button-reset fl pv3 tc bn bg-animate bg-navy hover-bg-dark-blue white pointer w-100 w-25-ns" type="submit" value="Submit">
          </div>
          <div class="lh-copy mt3 tr">
            <p>Or reach us directly:<br />
            (954) 467-9898<br />
            <a class="link" href="mailt:sales@eventnetusa.com">sales@eventnetusa.com</a></p>
          </div>
        </form>
      </main>
    </div>