/*
The main SCSS file for everything, yep
*/

// modules
@import
  // "modules/vars",
  "modules/tachyons",
  // "modules/footer",
  // "modules/header",
  "modules/home",
  "modules/work",
  "modules/casestudy",
  "modules/about",
  "modules/careers",
  "modules/contact";


  /* GLOBALS */

  .brand {
      color: #951d1d !important;
  }

  .bg-brand {
      background-color: #b22222;
  }

  .raleway {
    font-family: 'Raleway', sans-serif;
  }

