/*
The main SCSS file for everything, yep
*/

// modules
@import
  // "modules/vars",
  "modules/tachyons",
  // "modules/footer",
  // "modules/header",
  "modules/home",
  "modules/work",
  "modules/casestudy",
  "modules/about",
  "modules/blog",
  "modules/careers",
  "modules/post",
  "modules/remodal",
  "modules/remodal-theme",
  "modules/vip",
  "modules/contact";


  /* GLOBALS */

  .brand {
      color: #951d1d !important;
  }

  .bg-brand {
      background-color: #b22222;
  }

  .raleway {
    font-family: 'Raleway', sans-serif;
  }

  header, footer {
    max-width: 1400px;
  }

  // imgix background-images
  .js-img {
    display: none;
  }

  // HEADER
  // @media (min-width: 600px) and (max-width: 400px)  {...}

  @media (min-width: 300px) and (max-width: 430px)  {
    header {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    header .contact {
      margin-top: 1rem;
      margin-left: 0px !important;
    }
    nav a {
      margin-left: 1rem !important;
    }
    nav a:first-of-type {
      margin-left: 0px !important;
    }
  }

  @media (min-width: 568px) and (max-width: 880px) {
    header {
      padding: 1rem 2rem !important;
    }
  }

  @media  (max-width: 736px) {
    .header-wrapper {
      text-align: center !important;
    }
    header img {
      margin-top: 0px !important;
    }
    header nav {
      display: block;
      width: 100%;
      margin-top: 1.5rem;
      text-align: center !important;
    }
  }

  @media  (min-width: 737px) {
    header img {
      float: left;
    }
  }

  @media (min-width: 769px) {
    .header-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      height: 98px;
    }
  }

  @media (min-width: 769px) and (max-width: 880px) {
    .page-content {
      margin-top: 66px;
    }
  }

  @media (min-width: 881px) {
    .page-content {
      margin-top: 98px;
    }
  }


  // FOOTER
  @media (min-width: 300px) and (max-width: 550px) {
    footer .inner {
      text-align: center !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

  @media (min-width: 300px) and (max-width: 767px) {
    .instafeed-wrapper {
      display: none;
    }
  }

  @media (min-width: 300px) and (max-width: 880px) {
    footer .browse {
      display: none;
    }
    footer .contact, footer .subscribe {
      width: 100% !important;
    }
  }

  @media (min-width: 768px) and (max-width: 880px) {
    footer .contact, footer .subscribe {
      width: 50% !important;
    }
  }

// FORM
input,
textarea {
    /*border-color: #951d1d !important;*/
}

.is-hidden {
  display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="submit"] {
  letter-spacing: 1px;
}

textarea {
  height: 120px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(102, 102, 102, .75);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(102, 102, 102, .75);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(102, 102, 102, .75);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(102, 102, 102, .75);
}
