<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

        <article class="cf">
          <div class="cover bg-center raleway" style="background-image: url({{page.hero_image_path}}); height: 500px">
            <div class="bg-black-30" style="height: 100%;">
              <div class="tc near-white pv6 pb3 pl5">
                <h1 class="f1 lh-headline ma0 editable">Blog</h1>
              </div>
            </div>
          </div>

          <div class="w-70 center pa4 cf raleway">
            <div class="ph5 pt3 copy-wrapper bg-white">
              <h1>{{page.title}}</h1>
              {% for block in page.content_section %}
                {% if block.text_block_markdown %}
                  {{ block.text_block_markdown | markdownify }}
                {% endif %}
                {% if block.single_image_block.single_image_path %}
                  <img src="{{ block.single_image_block.single_image_path }}" class="w-100 mt2 mb0" alt="">
                {% endif %}
                {% if block.double_image_block.image_2_path %}
                  <div class="cf mt2 mb0">
                    <div class="fl pa0" style="width: 49%;">
                      <div class="aspect-ratio aspect-ratio--1x1 mb0">
                        <div class="aspect-ratio--object cover" style="background:url({{block.double_image_block.image_1_path}}) center;"></div>
                      </div>
                    </div>
                    <div class="fr pa0" style="width: 49%;">
                      <div class="aspect-ratio aspect-ratio--1x1 mb0">
                        <div class="aspect-ratio--object cover" style="background:url({{block.double_image_block.image_2_path}}) center;"></div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if block.video_block.video_id %}
                  <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                  <div class='embed-container mt3'><iframe src='https://www.youtube.com/embed/{{block.video_block.video_id}}' frameborder='0' allowfullscreen></iframe></div>
                {% endif %}
              {% endfor %}


            </div>
          </div>
        </article>



    </div>

    {% include footer.html %}

  <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->



  </body>

</html>