<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

        <article class="cf">
          <div class="cover bg-center raleway" {% if page.hero_image_path %}style="background-image: url({{page.hero_image_path}});{% endif %} height: 500px">
            <div class="case-study-info w-70 near-white pt4 pb3 pl5">
              <h2 class="f4 lh-solid lightest-blue mb0 ttu tracked">
                {% if page.client %}{{page.client}}{% endif %}
              </h2>
              <h1 class="f1 near-white lh-headline mb4">
                {% if page.headline %}{{page.headline}}{% endif %}
              </h1>
            </div>
          </div>

          <div class="w-80 center pa4 cf raleway">
            <div class="fn fl-ns w-70-ns ph4 mt4 copy-wrapper">


              {% for block in page.media_section %}
                {% if block.text_block_markdown %}
                  {{ block.text_block_markdown | markdownify }}
                {% endif %}
                {% if block.single_image_block.single_image_path %}
                  <img src="{{ block.single_image_block.single_image_path }}" class="w-100 mt4 mb0" alt="">
                {% endif %}
                {% if block.double_image_block.image_2_path %}
                  <div class="cf mt2 mb0">
                    <div class="fl pa0" style="width: 49%;">
                      <div class="aspect-ratio aspect-ratio--1x1 mb0">
                        <div class="aspect-ratio--object cover" style="background:url({{block.double_image_block.image_1_path}}) center;"></div>
                      </div>
                    </div>
                    <div class="fr pa0" style="width: 49%;">
                      <div class="aspect-ratio aspect-ratio--1x1 mb0">
                        <div class="aspect-ratio--object cover" style="background:url({{block.double_image_block.image_2_path}}) center;"></div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if block.video_block.video_id %}
                  <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                  <div class='embed-container mt3'><iframe src='https://www.youtube.com/embed/{{block.video_block.video_id}}' frameborder='0' allowfullscreen></iframe></div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="fn fl-ns w-30-ns ph4 mt4 tc">
                {% if page.cta %}
                <p class="f4 lh-copy mt0-ns ph3 pv4 bg-blue white">
                  {{page.cta_text}}
                  <a class="center f6 fw4 grow no-underline br-pill ph4 pv3 mt3 mb2 dib white bg-navy ttu tracked" href="#0">{{ page.cta }}</a>
                </p>
                {% endif %}
                {% if page.sidebar_text_markdown %}
                <span class="case-study-sidebar f5 lh-copy mt0-ns pa3 tl dib bg-light-gray">
                  {{page.sidebar_text_markdown | markdownify}}
                </span>
                {% endif %}
              </div>
          </div>
        </article>

        {% if page.related_client_logos %}
          <div class="w-80 center ph4 pv3 cf raleway mb4">
            <div class="ph4">
              <p class="raleway tc f4 mt5 mb4 black-60 ttu tracked">Ask us about these related client projects</p>
            </div>
            <div class="cf pa2">
              {% for logo in page.related_client_logos %}
                <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
                  <img class="svg" src="{{ logo.logo_image_path }}" {% if logo.logo_image_height %} style="height: {{logo.logo_image_height}};"{% endif %}>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}


    </div>

    {% include footer.html %}

  <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->

  <!-- js partials -->
  {% if page.class == 'home' %}
    {% include js_home.html %}
  {% endif %}
  {% if page.class == 'about' %}
    {% include js_about.html %}
  {% endif %}
  {% if page.class == 'contact' %}
    {% include js_contact.html %}
  {% endif %}

  </body>

</html>