@media (min-width: 769px) and (max-width: 880px) {
  .page-content.b2c {
    margin-top: 0px !important;
  }
}
@media (min-width: 881px) {
  .page-content.b2c {
    margin-top: 0px !important;
  }
}

 .vip {

    @media screen and (min-width: 1200px) {
        .content {
            width: 70% !important;
        }
        .aside {
            width: 30% !important;
        }
    }

    @media screen and (min-width: 960px) and (max-width: 1199px) {
        .content {
            width: 60% !important;
        }
        .aside {
            width: 40% !important;
        }
    }

    @media screen and (max-width: 767px) {
        .content {
            width: 100% !important;
            margin-bottom: 3rem;
        }
        .aside {
            width: 100% !important;
        }
    }

    @media (min-width: 300px) and (max-width: 550px) {
        .hero {
            height: 33vh;
            .case-study-info {
              padding-top: 10px !important;
              padding-left: 1rem;
              padding-right: 1rem;
              width: 100%;
            }
            h2 {
                font-size: 14px;
            }
            h1 {
                font-size: 1.25rem !important;
            }
        }
    }

    @media (min-width: 551px) {
        .hero {
            height: 300px;
            .case-study-info {
              padding-top: 10px !important;
              width: 80%;
            }
            h2 {
                font-size: 14px;
            }
            h1 {
                font-size: 2.25rem;
            }
        }
    }

    @media screen and (min-width: 960px) {
        .hero {
            height: 500px;
            .case-study-info {
                width: 70%;
            }
        }
    }

    .client-logo {
        height: 125px;
        @media (min-width: 768px) and (max-width: 959px) {
            width: 20% !important;
        }
        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .client-logo.project-logo {
        height: 75px;
        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .copy-wrapper {
        p {
            margin-top: 0;
            font-size: 1rem;
            line-height: 1.5;
            font-family: raleway next, raleway, sans-serif;
        }
        ul {
            margin-top: 2rem;
            font-family: raleway next, raleway, sans-serif;
            li {
                font-size: 1rem;
                margin-bottom: 1rem;
                line-height: 1.5;
                font-family: raleway next, raleway, sans-serif;
            }
        }
    }
    .case-study-sidebar {
      strong {
        font-weight: 500;
      }
      ul {
        padding-left: 1.5rem;
      }
    }
    .case-study-info {
        background-color: rgba(0, 27, 68, .75);
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .quote {
        font-size: 12px;
    }

    .double-image img {
        width: 300px;
        height: 300px;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .case-study-sidebar span {
        font-weight: 500;
    }

    .bottom-cta {
        @media screen and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
}


