.nav-item {
    display: inline;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.show {
    opacity: 1;
}

.work .child {
  background-color: rgba(178, 34, 34, .7);
}