.work {
  @media (min-width: 300px) and (max-width: 550px) {
      .hero {
          height: 33vh;
          .hero-wrapper {
            padding-top: 2rem !important;
          }
      }
  }

  @media (min-width: 551px) {
      .hero {
          height: 300px;
      }
  }

  @media screen and (min-width: 960px) {
      .hero {
          height: 500px;
      }
  }

  @media (max-width: 666px) {
    .child .more {
      display: none;
    }
  }

  @media (min-width: 667px) and (max-width: 767px) {
    .child .more a {
      right: 10px;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767px) {
    .child h1 {
      display: none;
    }
    .child p {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .hover-text-small {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .child {
      opacity: 1;
      .more a {
        padding: 10px 15px;
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
      h1 {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 666px) {
    .hover-text-small {
      display: none;
    }
  }

  @media (min-width: 769px) and (max-width: 991px) {
    .inner-child {
      padding: 1rem !important;
      .client {
        font-size: 12px;
      }
      h1 {
        font-size: 1.1rem !important;
      }
      .hover-text-small {
        display: none;
      }
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
      .inner-child {
        padding: 1rem !important;
        h1 {
          font-size: 1.25rem !important;
        }
      }
  }

  @media screen and (max-width: 1199px) {
      .hover-text {
          display: none;
      }
  }

  @media screen and (min-width: 1200px) {
      .hover-text-small {
          display: none;
      }
  }

  .nav-item {
      display: inline;
  }

  .tab-content>.tab-pane {
      display: none;
  }

  .tab-content>.active {
      display: block;
  }

  .fade {
      opacity: 0;
      -webkit-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear;
  }

  .fade.show {
      opacity: 1;
  }

  .child {
    background-color: rgba(178, 34, 34, .7);
  }

}

