---
title: Contact
hero_image: /uploads/contact.jpg
hero_headline: Make a splash with your next brand activation!
hero_subheadline:
---

<div class="hero cover bg-center raleway" style="background-image: url(/uploads/contact.jpg);">
  <img class="js-img" ix-path="{{page.hero_image | replace: '/uploads/', ''}}" ix-params='{
        "auto": "compress"
      }' sizes="100vw" />
  {% if page.hero_headline %}
  <div class="bg-black-30" style="height: 100%;">
    <div class="hero-wrapper tc near-white pt5-m pt6-l pb3-l">
      {% if page.hero_headline %}<h1 class="f3 f1-ns lh-headline mb0">{{page.hero_headline}}</h1>{% endif %}
      {% if page.hero_subheadline %}<p class="f4 f2-ns fw5 lh-headline mt2">{{page.hero_subheadline}}</p>{% endif %}
    </div>
  </div>
  {% endif %}m
</div>

<div class="cf">
  <div class="fl w-100 ph4-m ph6-l pv3 pv4-l bg-white navy">
    <div class="fl w-100 w-40-ns pa2">
      <h2 class="raleway f3 navy editable">How to get in touch</h2>
      <p class="ma0 lh-copy raleway editable">EventNetUSA </p>
      <p class="ma0 lh-copy raleway editable">
        100 SE 3rd Ave., Ste. 1000
      </p>
      <p class="ma0 lh-copy raleway editable">
        Fort Lauderdale, Florida 33394
      </p>
      <p class="ma0 lh-copy raleway editable">(954) 467 - 9898 </p>
      <p class="mt3 mh0 mb0 lh-copy raleway editable">General Inquiries:</p>
      <p class="mt1"><a class="link brand" href="mailt:info@eventnetusa.com">info@eventnetusa.com</a></p>
      <p class="mt2 mh0 mb0 lh-copy raleway editable">New Business Inquiries:</p>
      <p class="mt1"><a class="link brand" href="mailt:sales@eventnetusa.com">sales@eventnetusa.com</a></p>
      <p class="f2">
        <a target="_blank" href="https://www.linkedin.com/company/eventnetusa"><i class="dim fa black-60 fa-linkedin-square" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.facebook.com/EventNetUSA/"><i class="dim fa black-60 fa-facebook-square" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.instagram.com/eventnetusa/"><i class="dim fa black-60 fa-instagram" aria-hidden="true"></i></a>
        <a target="_blank" href="https://twitter.com/eventnetusa/"><i class="dim fa black-60 fa-twitter-square" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.youtube.com/user/EventNetUSA"><i class="dim fa black-60 fa-youtube-square" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="fl w-100 w-60-ns pa2">
      <form id="contact" class="center pv4">
        <fieldset class="cf bn ma0 pa0">
          <input required class="raleway mb3 f6 f5-l input-reset ba bw1 b--black-60 fl black-80 bg-white pa3 lh-solid w-100" placeholder="NAME" type="text" name="name" value="" id="name" />
          <input required class="raleway mb3 f6 f5-l input-reset ba bw1 b--black-60 fl black-80 bg-white pa3 lh-solid w-100" placeholder="PHONE" type="text" name="phone" value="" id="phone" />
          <input required class="raleway mb3 f6 f5-l input-reset ba bw1 b--black-60 fl black-80 bg-white pa3 lh-solid w-100" placeholder="EMAIL" type="text" name="email" value="" id="email-address" />
          <textarea required class="raleway mb3 f6 f5-l input-reset ba bw1 b--black-60 fl black-80 bg-white pa3 lh-solid w-100" placeholder="MESSAGE" type="text" name="message" value="" id="message"></textarea>
          <input class="raleway mb3 f6 f5-l button-reset fl pv3 tc bn bg-animate bg-navy hover-bg-dark-blue white pointer w-100 w-25-ns" type="submit" value="SEND" />
          <input class="is-hidden" name="_gotcha" />
          <input id="_subject" type="hidden" name="_subject" value="Website Contact" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div id="map"></div>
