---
layout: default
work:
  - white-house-drink-up
  - nyx-union-square
  - bigelow-tea
  - mini-in-a-stadium
  - revlon-love-is-on-tour
capabilities:
  - name: Mobile Vehicle Tours
    info: 'Create a unique consumer experience with a customized marketing vehicle built, routed, and staffed to reach your target audience on the road.'
  - name: Grand Openings
    info: 'We handle permitting, line management, hospitality, and display production so that your first impression to your guests is your best!'
  - name: PR Events
    info: 'We stage and manage the event so you can focus on media opportunities, feeling confident that the behind-the-scenes is covered.'
  - name: PR Stunts
    info: Our clients have stories to tell and EventNetUSA helps turn those stories into large newsworthy events.
  - name: Pop-Up Shops
    info: 'Make sales in unique environments that build buzz through consumer exposure, while generating a feeling of relevance and interactivity.'
  - name: Insurance Activations
    info: Industry leaders repeatedly contract with EventNetUSA for turn-key consumer engagement and activation programs.
  - name: Retail Integration
    info: 'Whether it’s storefront sampling or in-store demos, take your brand to big retailers to strategically engage with targeted consumers.'
  - name: Sampling/Street Teams
    info: 'Our extensive & diverse network of brand ambassadors put your brand in hand through grassroots level engagement.'
top_cta: Request a quote
bottom_cta: request a quote
logos:
  - logo_image: uploads/bigelow.svg
    logo_height:
  - logo_image: uploads/mini.svg
    logo_height: '40%'
  - logo_image: /uploads/dunkin.png
    logo_height: '40%'
  - logo_image: uploads/revlon.svg
    logo_height:
  - logo_image: uploads/whitehouse.svg
    logo_height: '45%'
  - logo_image: /uploads/jetblue.png
    logo_height: '30%'
  - logo_image: uploads/cbs.svg
    logo_height:
  - logo_image: uploads/coke.svg
    logo_height: '30%'
  - logo_image: uploads/garnier.svg
    logo_height: '19%'
  - logo_image: /uploads/yr.png
    logo_height: '30%'
  - logo_image: uploads/humana.svg
    logo_height: '15%'
  - logo_image: uploads/maybelline.svg
    logo_height:
  - logo_image: /uploads/mml.png
    logo_height: '50%'
  - logo_image: uploads/nestle.svg
    logo_height: '30%'
  - logo_image: uploads/kelloggs.svg
    logo_height: '50%'
  - logo_image: /uploads/carnival-gray.png
    logo_height:
  - logo_image: uploads/visa.svg
    logo_height: '30%'
  - logo_image: uploads/yoplait.svg
    logo_height: '50%'
  - logo_image: /uploads/cronin.png
    logo_height: '50%'
  - logo_image: uploads/aetna.svg
    logo_height: '25%'
  - logo_image: /uploads/rbb.png
    logo_height: '50%'
  - logo_image: uploads/mcdonalds.svg
    logo_height: '30%'
  - logo_image: uploads/lacroix.svg
    logo_height: '40%'
  - logo_image: uploads/nyx.svg
    logo_height: '20%'
  - logo_image: /uploads/cpb.png
    logo_height: '60%'
---

<div id="video" style="width: 100%;" data-vide-bg="uploads/videos/home-edit-compressed" data-vide-options="loop: true, muted: false, position: 50% 50%">
  <div id="video-overlay">
    <div class="tc absolute top-0 right-0 bottom-0 left-0 pt4 pt5-m pt6-l pb2-m pb6-l ph4">
      <h1 class="fw7 white mb0 lh-title raleway editable">Turnkey brand event<br />production &amp; management.</h1>
      <h2 class="subhead fw5 white mt3 mb3 mb5-ns raleway editable">Bringing ideas to life for marketers and agencies since 1976.</h2>
      <a data-remodal-target="modal" class="pointer cta f6 fw4 tracked grow no-underline br-pill ph3 ph4-ns ttu pv2 pv3-ns mt3 mt0-nsmb2 dib near-white bg-brand ba bw1">{{page.top_cta}}</a>
    </div>
  </div>
</div>

<div class="intro cf">
  <div class="fl w-100 ph6-l pv3 ma0 bg-light-gray navy">
    <div class="center ph2 ph6-ns">
      <h1 class="lh-copy fw3 raleway tc pt3 pt5-ns pb3 pb5-ns editable brand"><strong>Our team of industry experts ensures every brand idea comes to life with originality, quality, on time and on budget.</strong></h1>
      <h1></h1>
    </div>
  </div>
</div>

<div class="pt3 pt5-ns pb3 pb5-ns ph0 bg-white">
  <h2 class="raleway tc f3 f2-ns mb2 mb4-ns navy editable">Select Clients and Agencies</h2>
  <div class="mw8 center">
    <div class="cf pa2">
      {% for logo in page.logos %}
        <div class="fl w-50 w-20-l w-33-m pv1 ph4 tc dib client-logo">
          <img class="svg" ix-path="{{ logo.logo_image }}" ix-params='{
                 "auto": "compress"
               }' sizes="125px" style="height: {{logo.logo_height}};" />


        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="capabilities pv3 pv5-ns tc cf bg-near-white relative bb bt" style="background-image: url(uploads/bg-1.jpg); background-position: center; border-width: 2px; border-color: #efefef;">
  <div class="relative z-1">
    <h2 class="raleway f3 f2-ns mb0 navy editable">Our Capabilities</h2>
    <p class="info tc fw4 f4 raleway near-black mt3 mb4 center">A full-service, turnkey approach created to make your job easier.</p>

      {% assign capabilities = page.capabilities | size %}

      {% for item in page.capabilities %}
      {% assign loopindex = forloop.index | modulo: 2 %}

      {% if capabilities >= 2 %}
        {% if loopindex == 1 %}
        <div class="w-80-m w-60-l pa2-ns center cf">
          <div class="fl w-100 w-50-ns ph3 pt0 pb3">
            <div class="pv3 ph4 br1 shadow-3 capability" style="background-color: #263d60;">
              <h2 class="mt1 raleway ma0 f5 fw5"><i class="fa fa-caret-down mr1" aria-hidden="true"></i> {{ item.name }}</h2>
              <div class="copy">
                <p class="mt2 mb0 pv0 near-white fw1 ph0 f5 fw4 raleway">{{ item.info }}</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="fl w-100 w-50-ns ph3 pt0 pb3">
            <div class="pv3 ph4 br1 shadow-3 capability" style="background-color: #263d60;">
              <h2 class="mt1 raleway ma0 f5 fw5"><i class="fa fa-caret-down mr1" aria-hidden="true"></i> {{ item.name }}</h2>
              <div class="copy">
                <p class="mt2 mb0 pv0 near-white fw1 ph0 f5 fw4 raleway">{{ item.info }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endif %}
      {% endfor %}
  </div>
</div>

<div class="featured ph5-ns pb5 pt3 pt5-ns navy bg-white">
  <div class="tc">
    <h2 class="raleway f3 f2-ns navy ma0-ns¡ editable">Featured Work</h2>
  </div>
  <div class="carousel mv3 mv5-ns">
    {% for item in page.work %}
      {% assign var = site.work | where:"slug", item | first %}
      <div class="carousel-cell dt relative hide-child">
        <a href="{{ var.url }}">
          <span class="white child dtc v-mid pa5 pt5 pr6">
            <p class="f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{ var.client }}</p>
            <h1 class="f3 fw4 mt3 lh-title">{{ var.headline }}</h1>
            <p class="f6 f5-l lh-copy hover-text">
              {{ var.hover_text }}
            </p>
          </span>
        <img src="{{ var.thumbnail_image_path }}" />
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class="ph5-m ph6-l pv4 pv5-ns white" style="background-color: #263d60">
  <div class="center tc">
    <h1 class="f3 f2-ns lh-title fw4 raleway tc mb4">Ready to make your next event your greatest?</h1>
    <a data-remodal-target="modal" class="pointer center f6 fw4 grow no-underline br-pill ph4 pv3 mb2 dib navy bg-near-white ttu tracked">{{page.bottom_cta}}</a>
  </div>
</div>

<div class="instafeed-wrapper pt4 pb5 bg-light-gray cf navy">
  <h2 class="raleway tc f2 mb4 navy editable">#EventNetUSA</h2>
  <div id="instafeed" class="fl"></div>
</div>
