---
layout: default
work:
  - white-house-drink-up
  - nyx-union-square
  - hcsc
capabilities:
  -
    name: Mobile Vehicle tours
    info: Create a unique consumer experience with a customized marketing vehicle built, routed, and staffed to reach your target audience on the road.
  -
    name: Grand Openings
    info: We handle permitting, line management, hospitality, and display production so that your first impression to your guests is your best!
  -
    name: PR Events
    info: We stage and manage the event so you can focus on media opportunities, feeling confident that the behind-the-scenes is covered.
  -
    name: PR Stunts
    info: Our clients have stories to tell and EventNetUSA helps turn those stories into large newsworthy events.
  -
    name: Pop-Up Shops
    info: Make sales in unique environments that build buzz through consumer exposure, while generating a feeling of relevance and interactivity.
  -
    name: Insurance Activations
    info: Industry leaders repeatedly contract with EventNetUSA for turn-key consumer engagement and activation programs.
  -
    name: Retail Integration
    info: Whether it’s storefront sampling or in-store demos, take your brand to big retailers to strategically engage with targeted consumers.
  -
    name: Street Teams
    info: Our extensive & diverse network of brand ambassadors put your brand in hand through grassroots level engagement.
top_cta_text: get a quote
bottom_cta_text: get a quote

---

<div id="video" style="width: 100%;" data-vide-bg="uploads/videos/home-edit-compressed" data-vide-options="loop: true, muted: false, position: 50% 50%">
  <div id="video-overlay">
    <div class="tc absolute top-0 right-0 bottom-0 left-0 pt6-m pt6-l pb2-m pb6-l ph4">
      <h1 class="fw7 white mb0 lh-title raleway editable">Turnkey brand event<br />production &amp; management.</h1>
      <h2 class="fw5 white mt3 mb5 raleway editable">Bringing ideas to life for marketers and agencies since 1976.</h2>
      <a class="f6 fw4 tracked grow no-underline br-pill ph4 ttu pv3 mb2 dib near-white bg-brand ba bw1" href="#0">{{page.top_cta_text}}</a>
    </div>
  </div>
</div>

<div class="cf">
  <div class="fl w-100 ph6 pv4 bg-near-white navy">
    <div class="f4 center ph6">
      <h1 class="f2 lh-copy fw3 raleway tc pt5 pb5 editable">Our 360&deg; approach and team of industry experts ensure every brand idea comes to life with originality, quality and on budget.</h1>
      <h1></h1>
    </div>
  </div>
</div>


<div class="pv5 tc cf bg-near-white relative bb bt" style="background-image: url(uploads/bg-1.jpg); border-width: 2px; border-color: #efefef;">
  <div class="relative z-1">
    <h2 class="raleway f2 mb0 navy editable">Our Capabilities</h2>
    <p class="tc fw4 f4 raleway near-black pl4 mt3 mb4 center">A full-service, turnkey approach created to make your job easier.</p>

      {% assign capabilities = page.capabilities | size %}

      {% for item in page.capabilities %}
      {% assign loopindex = forloop.index | modulo: 2 %}

      {% if capabilities >= 2 %}
        {% if loopindex == 1 %}
        <div class="w-60 pa2 center cf">
          <div class="fl w-50 ph3 pt0 pb3">
            <div class="pv3 ph4 br1 shadow-3 capability" style="background-color: #263d60;">
              <h2 class="mt1 raleway ma0 f5 fw5"><i class="fa fa-caret-down mr1" aria-hidden="true"></i> {{ item.name }}</h2>
              <div class="copy">
                <p class="mt2 mb0 pv0 near-white fw1 ph0 f5 fw4 raleway">{{ item.info }}</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="fl w-50 ph3 pt0 pb3">
            <div class="pv3 ph4 br1 shadow-3 capability" style="background-color: #263d60;">
              <h2 class="mt1 raleway ma0 f5 fw5"><i class="fa fa-caret-down mr1" aria-hidden="true"></i> {{ item.name }}</h2>
              <div class="copy">
                <p class="mt2 mb0 pv0 near-white fw1 ph0 f5 fw4 raleway">{{ item.info }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endif %}
      {% endfor %}
  </div>
</div>


<div class="ph5 pv5 navy bg-white">
  <div class="tc">
    <h2 class="raleway f2 navy ma0 editable">Featured Work</h2>
  </div>
  <div class="carousel mv5">
    {% for item in page.work %}
      {% assign var = site.work | where:"slug", item | first %}
      <div class="carousel-cell dt relative hide-child">
        <a href="{{ var.url }}">
          <span class="white child dtc v-mid pa5 pt5 pr6">
            <p class="f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{ var.type }}</p>
            <h1 class="f3 fw4 mt3 lh-title">{{ var.headline }}</h1>
            <p class="f6 f5-l lh-copy">
              {{ var.tagline }}
            </p>
          </span>
        <img src="{{ var.hero_image_path }}" />
        </a>
      </div>
    {% endfor %}
  </div>
</div>



<div class="ph6 pv5 white" style="background-color: #263d60">
  <div class="center tc">
    <h1 class="f2 lh-title fw4 raleway tc mb4">Ready to make your next event your greatest?</h1>
    <a class="center f6 fw4 grow no-underline br-pill ph4 pv3 mb2 dib navy bg-near-white ttu tracked" href="#0">{{page.bottom_cta_text}}</a>
  </div>
</div>

<div class="pt5 pb5 ph0 bg-near-white">
  <h2 class="raleway tc f2 mb4 navy editable">Select Clients and Agencies</h2>

  <div class="mw8 center">
    <div class="cf pa2">
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/bigelow.svg" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/mini.svg" style="height: 40%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/att.svg" style="height: 40%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/revlon.svg" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/whitehouse.svg" style="height: 45%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/aa.svg" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/cbs.svg" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/coke.svg" style="height: 30%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/garnier.svg" style="height: 19%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/humana.svg" style="height: 15%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/kelloggs.svg" style="height: 50%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/maybelline.svg" />
      </div>
     <!--  <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/nivea.svg" style="height: 30%">
      </div> -->
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/nestle.svg" style="height: 30%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/silk.svg" style="height: 30%" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/visa.svg" style="height: 30%" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/yoplait.svg" style="height: 50%" />
      </div>
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/tylenol.svg" style="height: 25%;">
      </div> -->
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/aetna.svg" style="height: 25%" />
      </div>
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/biotherm.svg">
      </div> -->
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/mcdonalds.svg" style="height: 30%;" />
      </div>
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/lacroix.svg" style="height: 40%;" />
      </div>
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/coppertone.svg" style="height: 30%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/rimmel.svg" style="height: 30%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/advil.svg" style="height: 18%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/chevy.svg" style="height: 30%;">
      </div> -->
      <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/nyx.svg" style="height: 20%;" />
      </div>
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/nba.svg" style="height: 50%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/fineliving.svg" style="height: 25%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/mm.svg" style="height: 30%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/snausages.svg" style="height: 25%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/pepperidgefarm.svg" style="height: 30%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/almay.svg" style="height: 20%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/essie.svg" style="height: 20%;">
      </div> -->
      <!-- <div class="fl w-20-l w-33-m pv1 ph4 tc dib client-logo">
        <img class="svg" src="uploads/dunkin.svg" style="height: 30%;">
      </div> -->
    </div>
  </div>
</div>

<div class="pt4 pb5 bg-white cf navy">
  <h2 class="raleway tc f2 mb4 navy editable">#EventNetUSA</h2>
  <div id="instafeed" class="fl"></div>
</div>
