---
title: Work
cta_text: Let's get started
---

<article class="cf">
  <div class="hero cover bg-center raleway" style="background-position: top;">
    <img
      class="js-img"
        ix-path="/uploads/work-hero.jpg"
        ix-params='{
          "w": 400,
          "h": 200,
          "fit": "crop",
          "crop": "center"
        }'
        sizes="100vw"
      >
    <div class="bg-black-30" style="height: 100%;">
      <div class="hero-wrapper tc near-white pt5-m pt6-l pb3-l">
        <h1 class="f3 f1-ns lh-headline mb0 editable">We&rsquo;re proud of our work&nbsp;</h1>
        <p class="f4 f2-ns fw5 lh-headline mt2 editable">and excited to work with you!</p>
      </div>
    </div>
  </div>

  <div class="work-header-wrapper tc" style="background-color: #263d60">
    <div class="center cf" style="background-color: #263d60">
      <ul class="pl0 f6 fw3 tracked tc pv2 nav nav-tabs" role="tablist">
        <li class="nav-item raleway">
          <a class="link near-white dib hover-bg-dark-blue pv2 ph3 nav-link active" data-toggle="tab" href="#all" role="tab">All</a>
        </li>
        <li class="nav-item raleway">
          <a class="link near-white dib hover-bg-dark-blue pv2 ph3 nav-link" data-toggle="tab" href="#vehicletours" role="tab">Vehicle Tours</a>
        </li>
        <li class="nav-item raleway">
          <a class="link near-white dib hover-bg-dark-blue pv2 ph3 nav-link" data-toggle="tab" href="#events" role="tab">PR Events</a>
        </li>
        <li class="nav-item raleway">
          <a class="link near-white dib hover-bg-dark-blue pv2 ph3 nav-link" data-toggle="tab" href="#popups" role="tab">Pop-up Shops</a>
        </li>
        <li class="nav-item raleway">
          <a class="link near-white dib hover-bg-dark-blue pv2 ph3 nav-link" data-toggle="tab" href="#insurance" role="tab">Insurance Activations</a>
        </li>
        <li class="nav-item raleway">
          <a class="link near-white dib hover-bg-dark-blue pv2 ph3 nav-link" data-toggle="tab" href="#retail" role="tab">Retail Integration</a>
        </li>
        <li class="nav-item raleway">
          <a class="link near-white dib hover-bg-dark-blue pv2 ph3 nav-link" data-toggle="tab" href="#street" role="tab">Sampling/Street Teams</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="all" role="tabpanel">
      <section class="cf w100 raleway pa2" style="clear: both">
        {% assign work_all = site.work | sort:"sort_order" %}
        {% if work_all.size > 0 %}
          {% for item in work_all %}
            <div class="fl w-50 w-third-ns pa2">
              <div class="aspect-ratio aspect-ratio--7x5">
                {% if item.link_to_casestudy == true %}
                <a href="{{item.url}}" style="" class="link dt hide-child">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <p class="f6 f5-l lh-copy hover-text-small">{{item.hover_text | truncatewords: "12"}}</p>
                    </div>
                  </div>
                </a>
                {% else %}
                <div class="dt hide-child no-link no-link">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <div class="tc more">
                        <!-- htmlmin:ignore -->
                        <a href="mailto:sales@eventnetusa.com?subject=re:%20{{item.headline}}" class="bg-navy center f6 fw4 grow no-underline ph3 ph4-ns pv2 pv3-ns mt3 mt4-ns dib white ttu tracked" href="#0">Tell me more</a>
                        <!-- htmlmin:ignore -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    </div>
    <div class="tab-pane fade show" id="vehicletours" role="tabpanel">
      <section class="cf w100 raleway pa2" style="clear: both">
        {% assign work_vehicletours = site.work | where_exp:"item", "item.types contains 'vehicle tour'" | sort:"sort_order" %}
        {% if work_vehicletours.size > 0 %}
          {% for item in work_vehicletours %}
            <div class="fl w-100 w-third-ns pa2">
              <div class="aspect-ratio aspect-ratio--7x5">
                {% if item.link_to_casestudy == true %}
                <a href="{{item.url}}" style="" class="link dt hide-child">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <p class="f6 f5-l lh-copy hover-text-small">{{item.hover_text | truncatewords: "12"}}</p>
                    </div>
                  </div>
                </a>
                {% else %}
                <div class="dt hide-child no-link">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <div class="tc more">
                        <!-- htmlmin:ignore -->
                        <a href="mailto:sales@eventnetusa.com?subject=re:%20{{item.headline}}" class="bg-navy center f6 fw4 grow no-underline ph4 pv3 mt4 dib white ttu tracked" href="#0">Tell me more</a>
                        <!-- htmlmin:ignore -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    </div>
    <div class="tab-pane fade show" id="events" role="tabpanel">
      <section class="cf w100 raleway pa2" style="clear: both">
        {% assign work_event = site.work | where_exp:"item", "item.types contains 'pr event'" | sort:"sort_order" %}
        {% if work_event.size > 0 %}
          {% for item in work_event %}
            <div class="fl w-100 w-third-ns pa2">
              <div class="aspect-ratio aspect-ratio--7x5">
                {% if item.link_to_casestudy == true %}
                <a href="{{item.url}}" style="" class="link dt hide-child">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <p class="f6 f5-l lh-copy hover-text-small">{{item.hover_text | truncatewords: "12"}}</p>
                    </div>
                  </div>
                </a>
                {% else %}
                <div class="dt hide-child no-link">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <div class="tc more">
                        <!-- htmlmin:ignore -->
                        <a href="mailto:sales@eventnetusa.com?subject=re:%20{{item.headline}}" class="bg-navy center f6 fw4 grow no-underline ph4 pv3 mt4 dib white ttu tracked" href="#0">Tell me more</a>
                        <!-- htmlmin:ignore -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    </div>
    <div class="tab-pane fade show" id="popups" role="tabpanel">
      <section class="cf w100 raleway pa2" style="clear: both">
        {% assign work_popup = site.work | where_exp:"item", "item.types contains 'popup shop'" | sort:"sort_order" %}
        {% if work_popup.size > 0 %}
          {% for item in work_popup %}
            <div class="fl w-100 w-third-ns pa2">
              <div class="aspect-ratio aspect-ratio--7x5">
                {% if item.link_to_casestudy == true %}
                <a href="{{item.url}}" style="" class="link dt hide-child">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <p class="f6 f5-l lh-copy hover-text-small">{{item.hover_text | truncatewords: "12"}}</p>
                    </div>
                  </div>
                </a>
                {% else %}
                <div class="dt hide-child no-link">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <div class="tc more">
                        <!-- htmlmin:ignore -->
                        <a href="mailto:sales@eventnetusa.com?subject=re:%20{{item.headline}}" class="bg-navy center f6 fw4 grow no-underline ph4 pv3 mt4 dib white ttu tracked" href="#0">Tell me more</a>
                        <!-- htmlmin:ignore -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    </div>
    <div class="tab-pane fade show" id="insurance" role="tabpanel">
      <section class="cf w100 raleway pa2" style="clear: both">
        {% assign work_insurance = site.work | where_exp:"item", "item.types contains 'insurance activation'" | sort:"sort_order" %}
        {% if work_insurance.size > 0 %}
          {% for item in work_insurance %}
            <div class="fl w-100 w-third-ns pa2">
              <div class="aspect-ratio aspect-ratio--7x5">
                {% if item.link_to_casestudy == true %}
                <a href="{{item.url}}" style="" class="link dt hide-child">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <p class="f6 f5-l lh-copy hover-text-small">{{item.hover_text | truncatewords: "12"}}</p>
                    </div>
                  </div>
                </a>
                {% else %}
                <div class="dt hide-child no-link">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <div class="tc more">
                        <!-- htmlmin:ignore -->
                        <a href="mailto:sales@eventnetusa.com?subject=re:%20{{item.headline}}" class="bg-navy center f6 fw4 grow no-underline ph4 pv3 mt4 dib white ttu tracked" href="#0">Tell me more</a>
                        <!-- htmlmin:ignore -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    </div>
    <div class="tab-pane fade show" id="retail" role="tabpanel">
      <section class="cf w100 raleway pa2" style="clear: both">
        {% assign work_retail = site.work | where_exp:"item", "item.types contains 'retail'" | sort:"sort_order" %}
        {% if work_retail.size > 0 %}
          {% for item in work_retail %}
            <div class="fl w-100 w-third-ns pa2">
              <div class="aspect-ratio aspect-ratio--7x5">
                {% if item.link_to_casestudy == true %}
                <a href="{{item.url}}" style="" class="link dt hide-child">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <p class="f6 f5-l lh-copy hover-text-small">{{item.hover_text | truncatewords: "12"}}</p>
                    </div>
                  </div>
                </a>
                {% else %}
                <div class="dt hide-child no-link">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <div class="tc more">
                        <!-- htmlmin:ignore -->
                        <a href="mailto:sales@eventnetusa.com?subject=re:%20{{item.headline}}" class="bg-navy center f6 fw4 grow no-underline ph4 pv3 mt4 dib white ttu tracked" href="#0">Tell me more</a>
                        <!-- htmlmin:ignore -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    </div>
    <div class="tab-pane fade show" id="street" role="tabpanel">
      <section class="cf w100 raleway pa2" style="clear: both">
        {% assign work_street = site.work | where_exp:"item", "item.types contains 'street team'" | sort:"sort_order" %}
        {% if work_street.size > 0 %}
          {% for item in work_street %}
            <div class="fl w-100 w-third-ns pa2">
              <div class="aspect-ratio aspect-ratio--7x5">
                {% if item.link_to_casestudy == true %}
                <a href="{{item.url}}" style="" class="link dt hide-child">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <p class="f6 f5-l lh-copy hover-text-small">{{item.hover_text | truncatewords: "12"}}</p>
                    </div>
                  </div>
                </a>
                {% else %}
                <div class="dt hide-child no-link">
                  <img
                    class="db bg-center cover aspect-ratio--object"
                    ix-path="{{item.thumbnail_image_path}}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="(max-width: 551px) 50vw, 25vw"
                  >
                  <div class="white child aspect-ratio--object">
                    <div class="inner-child pa1 pa3-m pa4-l">
                      <p class="client f6 fw5 ttu tracked ma0 brand bg-white-90 dib" style="padding: 4px 4px 2px">{{item.client}}</p>
                      <h1 class="f3 fw4 mt3 lh-title">{{item.headline}}</h1>
                      <p class="f6 f5-l lh-copy hover-text">{{item.hover_text | truncatewords: 20}}</p>
                      <div class="tc more">
                        <!-- htmlmin:ignore -->
                        <a href="mailto:sales@eventnetusa.com?subject=re:%20{{item.headline}}" class="bg-navy center f6 fw4 grow no-underline ph4 pv3 mt4 dib white ttu tracked" href="#0">Tell me more</a>
                        <!-- htmlmin:ignore -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    </div>
  </div>

  <div class="ph5-m ph6-ns pv4 pv5-ns near-white" style="background-color: #263d60">
    <div class="center tc">
      <h1 class="f3 f2-ns lh-title fw4 raleway tc mb3 mb4-ns editable">Ready to make your next event your greatest?</h1>
      <a data-remodal-target="modal" class="pointer center f6 fw4 grow no-underline br-pill ph3 ph4-ns pv2 pv3-ns mb2 dib white bg-blue ttu tracked">{{ page.cta_text }}</a>
    </div>
  </div>
</article>